@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #200a24;
  font-family: "Dosis", sans-serif;
  color: whitesmoke;
}

/* Nawigacja */
.nav {
  font-size: 3rem;
  height: 15rem;
  position: relative;
}

.hamburger-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 4rem;
  cursor: pointer;
  transition: 0.2s ease-in;
  height: 10rem;
  width: 10rem;
  transform-origin: 50% 50%;
}

.hamburger-icon:hover {
  transform: scale(1.1);
}

/* Menu */
.menu {
  background-color: #4e2c5d;
  border-radius: 50%;
  position: fixed;
  z-index: 100;
  top: -250px;
  right: -250px;

  width: 0px;
  height: 0px;
  overflow: hidden;
  transition: 0.3s ease-in;
  -webkit-box-shadow: -7px 7px 9px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -7px 7px 9px 0px rgba(0, 0, 0, 0.3);
}

.menu:hover {
  background-color: #633975;
  cursor: pointer;
}
.menu.menu--is-visible {
  width: 500px;
  height: 500px;
}

.nav-list {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, 30%);
  z-index: 200;
  list-style: none;
}

/* Menu */

/* home content */
.main-description {
  display: flex;
  margin: 3rem;
  justify-content: center;
}

.img {
  max-width: 30vw;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  filter: grayscale(1);
  transition: filter 0.2s ease-in-out;
  cursor: pointer;
}

.git-icon {
  font-size: 5vw;
  z-index: 300;
  top: 60%;
  left: 50%;
  transform: translate(-40%, -10%);
  color: white;
  position: absolute;
  filter: opacity(0.2);
}

.img-link {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  position: relative;
}

.img:hover {
  filter: grayscale(0);
}
/* home content */

/* Description */

.tag-color {
  color: #4e2c5d;
}

.tag-slash {
  font-weight: 900;
}

.presentation {
}

.text-2 {
  margin-left: 10rem;
}
.text {
  font-size: 5vw;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-left: 2rem;
}

/* Description */

@media screen and (max-width: 400px) {
  .hamburger-icon {
    font-size: 4rem;
    margin: 2rem;
  }
  .main-description {
    margin: 0;
    align-items: center;
    justify-content: center;
    width: 100%;

    flex-direction: column;
  }

  .img {
    max-width: 50vw;
  }

  .text {
    font-size: 10vw;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
}
