@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #200a24;
  font-family: "Dosis", sans-serif;
  color: whitesmoke;
}

/* Nav*/
.nav {
  font-size: 3rem;
  height: 15rem;
  position: relative;
}

.hamburger-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 4rem;
  cursor: pointer;
  transition: 0.2s ease-in;
  height: 10rem;
  width: 10rem;
  transform-origin: 50% 50%;
}

.hamburger-icon:hover {
  transform: scale(1.1);
}

.nav-link {
  text-decoration: none;
  color: white;
}

.menu {
  background-color: #4e2c5d;
  border-radius: 50%;
  position: fixed;
  z-index: 100;
  top: -250px;
  right: -250px;

  width: 0px;
  height: 0px;
  overflow: hidden;
  transition: 0.3s ease-in;
  -webkit-box-shadow: -7px 7px 9px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -7px 7px 9px 0px rgba(0, 0, 0, 0.3);
}

.menu:hover {
  background-color: #633975;
  cursor: pointer;
}
.menu.menu--is-visible {
  width: 500px;
  height: 500px;
}

.nav-list {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-30%, 30%);
  z-index: 200;
  list-style: none;
}

/* END OF NAV */

/* HOME CONTENT */
.main-description {
  display: flex;
  margin: 3rem;
  justify-content: center;
  position: relative;
}

.img {
  max-width: 30vw;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  filter: grayscale(1);
  transition: filter 0.2s ease-in-out;
  cursor: pointer;
}

.git-icon {
  font-size: 5vw;
  z-index: 300;
  top: 60%;
  left: 50%;
  transform: translate(-40%, -10%);
  color: white;
  position: absolute;
  filter: opacity(0.2);
}

.img-link {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  position: relative;
}

.img:hover {
  filter: grayscale(0);
}

.tag-color {
  color: #4e2c5d;
}

.tag-slash {
  font-weight: 900;
}

.text-2 {
  margin-left: 10rem;
}
.text {
  font-size: 5vw;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-left: 2rem;
}

/* END OF HOME CONTENT */

/* ARROW ICONS SETTINGS */

.arrow-icon-down {
  display: block;
  position: relative;
  height: 100px;
  width: 100px;
  cursor: pointer;
  z-index: 500;
  right: -60%;
}

/* container for arrow up */
.arrow-icon-up {
  display: block;
  position: relative;
  height: 100px;
  width: 100px;
  cursor: pointer;
  z-index: 600;
  right: -50%;
}

.arrow-icon {
  height: 7vw;
  width: 7vw;
  animation: arrow-down 0.8s infinite ease-in-out alternate;
  position: absolute;
  transform: translate(-50%, -50%);
}

.arrow-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100px;
  width: 100px;
}

/* END OF ARROW ICONS SETTINGS */

/* ABOUT SECTION */

.about-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: #2a132f;
  transition: all 1s ease-in-out;
  z-index: 500;
  overflow: hidden;
}

.about-container.move {
  height: 100%;
  overflow: scroll;
}

.about-text {
  width: max(300px, 50%);
  margin: 0 auto;
  font-size: clamp(1.5rem, 1vw + 0.5rem, 2rem);
  font-weight: 500;
  padding: 10rem 0;
}

/* END OF ABOUT SECTION */

/* PROJECTS SECTION */

.projects-container {
  width: max(70%, 400px);
  margin: 0 auto;
  height: max-content;
}

.projects-grid-container {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 8rem;
  padding: 5rem 0;
}

.projects-grid-container > .grid-item {
  width: 100%;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-item div {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  outline: 0.8rem solid #4e2c5d;
  flex-shrink: 0;
}

.grid-item div img {
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-in-out;
  object-fit: cover;
}

.grid-item:hover img {
  transform: scale(1.1);
  filter: opacity(0.8);
}

.projects-title {
  text-align: center;
  font-size: clamp(1.5rem, 1vw + 0.5rem, 2rem);
}

.grid-item > .project-link {
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: clamp(1.5rem, 1vw + 0.5rem, 2rem);
  padding: 2rem 0;
}

/* END OF PROJECTS SECTION */

/* MEDIA QUERRIES */

@media screen and (max-width: 400px) {
  .hamburger-icon {
    font-size: 4rem;
    margin: 2rem;
  }
  .main-description {
    margin: 0;
    align-items: center;
    justify-content: center;
    width: 100%;

    flex-direction: column;
  }

  .img {
    max-width: 50vw;
  }

  .text {
    font-size: 10vw;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }

  .arrow-icon {
    height: auto;
    width: 5rem;
  }

  .arrow-icon-down {
    right: -50%;
    top: -20%;
    transform: translateX(-50%);
  }
}

/* ANIMATIONS */

@keyframes arrow-down {
  0% {
    left: 50%;
    top: 50%;
  }

  100% {
    left: 50%;
    top: 40%;
  }
}

@keyframes arrow-down-mobile {
  0% {
    left: 50%;
    top: 95%;
  }

  100% {
    left: 50%;
    top: 92%;
  }
}
